@import "bourbon/bourbon"

@import url(https://fonts.googleapis.com/css?family=Varela)
@import url(https://fonts.googleapis.com/css?family=Raleway:400,600)

$primary-font: Varela
$alt-font: Raleway

body
    margin: 0px

a
    outline: none
    color: inherit
    text-decoration: none
