@import url("https://fonts.googleapis.com/css?family=Karla:400");
@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400");
html, body, p {
  margin: 0;
  padding: 0;
  font-family: "Karla", sans-serif;
  font-weight: 200; }

a {
  outline: none;
  color: inherit;
  text-decoration: none; }

body h1 {
  font-size: 36px;
  font-weight: 300;
  font-family: "Montserrat", serif; }
body .social-link {
  margin-top: 30px; }
  body .social-link a i {
    font-size: 30px;
    margin: 0px 15px; }
body #landing {
  background-image: url("../graphics/sf-85.png");
  background-size: cover;
  min-height: 100vh; }
  body #landing #background {
    background-image: url("../graphics/sf-85.png"); }
  body #landing #header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center; }
    body #landing #header #filler, body #landing #header #logo, body #landing #header #resume {
      width: 33%; }
    body #landing #header #logo {
      margin-top: 30px;
      width: 60px; }
    body #landing #header #resume {
      color: #FFFFFF;
      font-weight: 300;
      margin-top: 20px;
      font-family: "Montserrat", serif; }
  body #landing #kicker-wrapper {
    text-align: center; }
    body #landing #kicker-wrapper #kicker, body #landing #kicker-wrapper #kicker-cta {
      font-family: "Montserrat", serif;
      color: #FFFFFF; }
    body #landing #kicker-wrapper #kicker {
      font-size: 32px;
      max-width: 70%;
      margin: 50px auto 0px; }
    body #landing #kicker-wrapper #kicker-cta {
      margin-top: 70px;
      font-size: 22px; }
    body #landing #kicker-wrapper #caret {
      margin-top: 20px;
      margin-bottom: 20px;
      width: 20px; }
body #intro {
  text-align: center; }
  body #intro p {
    margin: 50px auto 0px;
    color: #333333;
    font-size: 16px;
    font-family: "Karla", sans-serif;
    max-width: 85%; }
body #projects {
  margin-top: 70px;
  text-align: center; }
  body #projects #projects-wrapper {
    display: flex;
    width: 100%;
    flex-wrap: wrap; }
    body #projects #projects-wrapper .project-instance {
      margin: 20px auto;
      padding: 20px 0px;
      width: 80%;
      height: 20vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: yellow;
      border-radius: 5px; }
      body #projects #projects-wrapper .project-instance img {
        max-height: 70px;
        margin: 10px 0px; }
      body #projects #projects-wrapper .project-instance span {
        font-size: 28px;
        font-weight: 300;
        color: #FFFFFF; }
    body #projects #projects-wrapper .with-text img {
      height: 70px; }
    body #projects #projects-wrapper .with-text span {
      position: relative;
      bottom: 0;
      font-family: "Montserrat", serif; }
    body #projects #projects-wrapper #feedr {
      background-image: url("../graphics/feedr.png");
      background-size: cover; }
    body #projects #projects-wrapper #takemyspot {
      background-color: #F94E3F; }
    body #projects #projects-wrapper #newton {
      background-image: url("../graphics/newton.png");
      background-size: cover; }
    body #projects #projects-wrapper #ronnmaps {
      background-image: url("../graphics/ronnmapps.png");
      background-size: cover; }
body #skills {
  margin-top: 70px;
  text-align: center; }
  body #skills h1 {
    margin-bottom: 0px; }
  body #skills #skills-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #333333; }
    body #skills #skills-wrapper .skill {
      font-family: "Karla", sans-serif;
      margin-top: 60px;
      font-size: 18px;
      font-size: 14px; }
      body #skills #skills-wrapper .skill h3 {
        font-family: "Karla", sans-serif; }
      body #skills #skills-wrapper .skill p {
        margin: 0 auto;
        max-width: 85%; }
body #about {
  text-align: center;
  margin-top: 70px; }
  body #about img {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 100px;
    width: 100px;
    border-radius: 100px; }
  body #about p {
    font-family: "Karla", sans-serif;
    max-width: 85%;
    margin: 0px auto 0px;
    font-size: 16px; }
    body #about p span {
      font-weight: bold; }
    body #about p a {
      text-decoration: underline;
      color: #000000; }
  body #about #large {
    font-size: 20px; }
  body #about #email {
    margin-top: 45px;
    font-size: 28px; }
  body #about #copyright {
    margin: 30px 0px;
    font-size: 12px; }

@media screen and (min-width: 1000px) {
  body #landing #header {
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 30px;
    align-items: center; }
    body #landing #header #filler {
      display: none; }
    body #landing #header #logo, body #landing #header #resume {
      width: auto; }
    body #landing #header #logo {
      width: 80px; }
    body #landing #header #resume {
      font-size: 1.2em; }
  body #landing #kicker-wrapper #kicker {
    margin-top: 20vh;
    font-size: 3em; }
  body #landing #kicker-wrapper #kicker-cta {
    font-size: 1.8em; }
  body #landing #kicker-wrapper #caret {
    width: 30px; }
  body #intro p {
    margin: 50px auto 0px;
    font-size: 24px;
    max-width: 50%; }
  body #intro .social-link i {
    font-size: 35px;
    margin: 0px 20px; }
  body #projects {
    margin-top: 120px;
    text-align: center; }
    body #projects h1 {
      font-size: 48px; }
    body #projects #projects-wrapper {
      max-width: 80%;
      margin: 0px auto;
      justify-content: center; }
      body #projects #projects-wrapper .project-instance {
        max-width: 40%;
        min-height: 25vh;
        margin: 20px 20px; }
      body #projects #projects-wrapper .with-text span {
        font-size: 32px;
        bottom: -10px; }
      body #projects #projects-wrapper #takemyspot img {
        height: 50px; }
  body #skills {
    margin-top: 120px; }
    body #skills h1 {
      font-size: 48px;
      margin-bottom: 0px; }
    body #skills #skills-wrapper {
      flex-direction: row; }
      body #skills #skills-wrapper .skill {
        font-family: "Karla", sans-serif;
        margin-top: 60px;
        font-size: 18px;
        font-size: 14px; }
        body #skills #skills-wrapper .skill img {
          height: 60px; }
        body #skills #skills-wrapper .skill h3 {
          font-family: "Karla", sans-serif;
          font-size: 24px;
          margin-bottom: 15px; }
        body #skills #skills-wrapper .skill p {
          margin: 0 auto;
          max-width: 85%;
          font-size: 16px; }
  body #about {
    text-align: center;
    margin-top: 120px; }
    body #about h1 {
      font-size: 48px; }
    body #about img {
      margin-top: 15px;
      margin-bottom: 20px;
      height: 100px;
      width: 100px;
      border-radius: 100px; }
    body #about p {
      font-family: "Karla", sans-serif;
      max-width: 60%;
      margin: 0px auto 0px;
      font-size: 18px; }
      body #about p span {
        font-weight: bold; }
      body #about p a {
        text-decoration: underline;
        color: #000000; }
    body #about #large {
      font-size: 20px; }
    body #about #email {
      margin-top: 45px;
      font-size: 28px;
      font-family: "Montserrat", serif; }
    body #about #copyright {
      margin: 30px 0px;
      font-size: 12px; } }

/*# sourceMappingURL=index.css.map */
