@import 'base'
body
  text-align: center
  background-color: $eggshell
  #message
    font-family: $primary-font
    margin: 30vh auto 3vh
    font-weight: 300
    font-size: 3em
    max-width: 80%
  .social-link
    a
      i
        font-size: 35px
        margin: 0px 15px
        &:hover
          color: #519d9e
