@import 'base'
body
  text-align: center
  background-color: $eggshell

  h1, h2, h3, h4, h5, h6
    font-family: "Lora"

  p, a
    font-family: "Inter"

  h1
    font-size: 4rem
    font-weight: 400

  .title
    margin-top: 20vh
  
  .kicker
    margin-top: 0.75rem
  
  .social-link
    margin-top: 3rem
    text-align: center
    a
      cursor: pointer

      i
        font-size: 20px
        margin: 0px 7px
        &:hover
          color: #4a4a4a
