@import 'base'
body
    #landing
        background-image: url('../graphics/sf-85.png')
        background-size: cover
        min-height: 100vh
        #background
            //min-height: 100vh
            //height: 100%
            //object-fit: cover
            //max-width: 100%
            //position: absolute
            //z-index: -1
            //filter: brightness(15%)
            background-image: url('../graphics/sf-85.png')
        #header
            display: flex
            flex-direction: column
            text-align: center
            #logo
                margin-top: 30px
                width: 60px
            #resume
                color: $white
                font-weight: 300
                margin-top: 20px
                font-family: $secondary-font
                text-transform: uppercase
        #kicker-wrapper
            text-align: center
            #kicker, #kicker-cta
                font-family: $secondary-font
                color: $white
            #kicker
                font-size: 32px
                max-width: 70%
                margin: 50px auto 0px
            #kicker-cta
                margin-top: 70px
                font-size: 22px
            #caret
                margin-top: 20px
                width: 20px

@media screen and (min-width: 1000px)
    body
        #landing
            #header
                flex-direction: row
                justify-content: space-between
                margin: 0px 30px
                align-items: center
                #logo
                    width: 80px
                #resume
                    font-size: 1.2em
            #kicker-wrapper
                #kicker
                    margin-top: 20vh
                    font-size: 3em
                #kicker-cta
                    font-size: 1.8em
                #caret
                    width: 30px
